<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>344798690689-2dg2p7nkatojeckaj6dt5l0sgahsonfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344798690689-2dg2p7nkatojeckaj6dt5l0sgahsonfj</string>
	<key>API_KEY</key>
	<string>AIzaSyAWdTS5kGFinXfPtnCE1lB58U4P9ZV575U</string>
	<key>GCM_SENDER_ID</key>
	<string>344798690689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>angel.GymSquad</string>
	<key>PROJECT_ID</key>
	<string>gymsquad-angel</string>
	<key>STORAGE_BUCKET</key>
	<string>gymsquad-angel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344798690689:ios:00d7d19b388ef7a7</string>
	<key>DATABASE_URL</key>
	<string>https://gymsquad-angel.firebaseio.com</string>
</dict>
</plist>